<!DOCTYPE html>
<html>
<head>
    <title>Cuestionario</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/containe.css')}}">
    <style>
        body {
            padding: 20px;
        }
        .question {
            margin-bottom: 20px;
        }
        .options label {
            display: block;
            margin-bottom: 10px;
        }
        .btn-submit {
            margin-top: 20px;
        }

        
    </style>
</head>
<body>
    <div class="container-juego" id="container-juego">
        <h1>Cuestionario</h1>

        <form action="/submit" method="POST">
            {% for row in results %}
            <div class="info">
                <h3>{{ row[0] }}</h3>
                <p> Pregunta {{ loop.index }} de 5</p>
                <div class="opciones">
                    {% set pregunta_index = loop.index - 1 %}
                    {% set pregunta_index_2 = loop.index - 0 %}
                    {% set clase_opciones = 'op' ~ pregunta_index %}
                    {% set pregunta_index_go = 'pregunta' ~ pregunta_index_2 %}
                    {% for i in range(pregunta_index*4, pregunta_index*4+4) %}
                    <label class="{{ clase_opciones }}">
                        {{ estructura_calificacion[i][0] }}
                        <input type="radio" name="{{ pregunta_index_go }}" value="{{ estructura_calificacion[i][1] }}">
                    </label>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <input type="hidden" name="numero" value="{{ numero }}">
        
            <!-- Agrega más preguntas aquí -->
        
            <button type="submit" class="btn btn-primary btn-submit"><i class="fas fa-check"></i> Enviar respuestas</button>
        </form>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>